@import "tailwindcss";

:root {
  --background: #f3f3f1;
  --foreground: #1a1a1a;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
}


button:hover{
  cursor: pointer !important;
}